.mission2-section {
    position: relative;
    width: 100%;
    height: 100lvh;
    background-color: white;
}

.main-text {
    z-index: 999;
    font-family: sans-serif;
    font-size: 96px;
    font-weight: 800;
    width: 20%;
    margin-left: 20%;
}

.figure1 {
    position: absolute;
    background: linear-gradient(90deg, rgb(202, 80, 233) 0 33%, blue 33% 66% ,#25d17b 66% 100%);
    z-index: 2;
    width: 50%;
    height: 33%;
    top: 0;
    left: 0;
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
}

.figure2 {
    position: absolute;
    background: linear-gradient(90deg, #D1AD33 0 33%, grey 33% 66% ,#19801e 66% 100%);
    z-index: 2;
    width: 50%;
    height: 33%;
    top: 33%;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.figure3 {
    position: absolute;
    background: linear-gradient(90deg, rgb(49, 102, 218) 0 33%, rgb(22, 197, 159) 33% 66%, rgb(204, 29, 175) 66% 100%);
    z-index: 2;
    width: 50%;
    height: 34%;
    top: 66%;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
}

@media (max-width: 1036px) {
    .main-text {
        font-size: 66px;
    }
}

@media (max-width: 536px) {
    .main-text {
        font-size: 34px;
    }
}