<section class="team-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-grey flex-column">
        <h1><span class="team">Zespół </span> <span class="year">2024</span></h1>
    </div>
    <div class="cards-scroller d-flex align-items-center justify-content-center">
        <button class="scroll-left">&lt;</button>
        <div class="cards-wrapper snaps-inline">
            <div class="card">
                <img src="./././assets/image2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Executive Officer </h6>
                    <h3>Natalia Gałażyn</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Technology Officer</h6>
                    <h3>Kacper Ciechorski </h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
                    <div class="card">
                <img src="./././assets/image2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Executive Officer </h6>
                    <h3>Natalia Gałażyn</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Technology Officer</h6>
                    <h3>Kacper Ciechorski </h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <button class="scroll-right">&gt;</button>
    </div>
</section>