<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<section class="team-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-grey flex-column">
        <h1><span class="year">DEI</span><span class="team"> Team</span></h1>
        <div class="text-wrapper d-flex align-items-center justify-content-center">
            <p>Fundacja zarejestrowana w Gdańsku, która ma skupiać swoje działania na promowaniu edukacji, równości zawodowej, różnorodności, wyrównywaniu szans na rynku pracy i rozwoju zawodowym.
                Fundacja dąży do tworzenia bardziej inkludującej i konkurencyjnej gospodarki, która
                czerpie korzyści z różnorodnych perspektyw i doświadczeń swoich pracowników.
            </p>
        </div>
    </div>

    <div class="cards-scroller d-flex align-items-center justify-content-center">
        <button class="scroll-left">&lt;</button>
        <div class="cards-wrapper snaps-inline">
            <div class="card">
                <img src="./././assets/image2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Executive Officer </h6>
                    <h3>Natalia Gałażyn</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Technology Officer</h6>
                    <h3>Kacper Ciechorski </h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
                    <div class="card">
                <img src="./././assets/image2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Executive Officer </h6>
                    <h3>Natalia Gałażyn</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Chief Technology Officer</h6>
                    <h3>Kacper Ciechorski </h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="./././assets/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6>Test buddy </h6>
                    <h3>Test buddy</h3>
                    <div style="margin-top: 30px;"></div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <button class="scroll-right">&gt;</button>
    </div>
</section>