.team-section {
    margin-top: 60px;
    height: 100%;
    padding-bottom: 50px;
}

.team {
    color: grey;
    font-size: 44px;
}

.year {
    color: #D1AD33;
    font-size: 44px;
}

.cards-wrapper {
    --spacer: 1rem;
    max-width: 75%;
    gap: var(--spacer);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}


/* Webkit scrollbar styling */
.cards-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.cards-wrapper::-webkit-scrollbar-track {
    background-color: grey; 
    border-radius: 15px;
}

.cards-wrapper::-webkit-scrollbar-thumb {
    background-color: #D1AD33;
    border-radius: 15px; 
}

.cards-wrapper::-webkit-scrollbar-button {
    display: none;
}

.card {
    width: 100%;
    max-width: 22rem;
    margin: 20px;
    box-shadow: var(--shadow-2);
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
} 

.scroll-left {
    margin: 10px;
    opacity: 0.8;
    color: #D1AD33;
    font-size: 40px;
    border: none;
    background-color: transparent;
  }
  
  .scroll-right {
    margin: 20px;
    opacity: 0.8;
    color: #D1AD33;
    font-size: 40px;
    border: none;
    background-color: transparent;
  }

@media (max-width: 1376px) {
    .card {
        flex: 0 0 calc(50% - 36px); 
    }
}

@media (max-width: 768px) {
    .cards-wrapper {
        grid-auto-columns: 100%; 
    }

    .card {
        max-width: calc(100% - 24px); 
    }
}