.team-section {
    margin-top: 60px;
    height: 120vh;
}

.team {
    color: grey;
    font-size: 44px;
}

.year {
    color: #D1AD33;
    font-size: 44px;
}

.cards-wrapper {
    gap:24px;
}

.card {
    width: 100%;
    max-width: 24rem;
    margin: 20px;
}

@media (min-width: 1376px) {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

