* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

.footer {
    background: #D1AD33;
    padding-top: 50px;
}

.container {
    width: 1140px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: grey;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.icons-wrapper {
    gap: 44px;
    margin-top: 40px;
    position: relative;
}

.icon {
    font-size: 44px;
}

.icon:hover {
    fill: rgba(199, 143, 24, 0)
}

.icons-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-wrapper ul li {
    list-style: none;
}

.icons-wrapper ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.icons-wrapper ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.icons-wrapper ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.icons-wrapper ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.icons-wrapper ul li a:hover:before {
    top: 0;
}

.icons-wrapper ul li:nth-child(1) a:before {
    background: #3b5999;
}

.icons-wrapper ul li:nth-child(2) a:before {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.icons-wrapper ul li:nth-child(3) a:before {
    background: #0077b5;
}

.bottom-bar {
    background: #D1AD33;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

hr.solid {
    width: 1000px;
    margin: 0 auto;
}
