<body>
    <section class="footer">
        <div class="container">
            <div class="footer-content">
                <h3>Follow Us</h3>
                <div class="icons-wrapper d-flex align-items-center justify-content-center flex-grow-1">
                    <div class="icon">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/marcingalazynn/"><i class="fab fa-instagram icon"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/marcin-ga%C5%82a%C5%BCyn-52bb911a8/"><i class="fab fa-linkedin icon"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <h3>Quick Links</h3>
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#mission">About</a></li>
                    <li><a href="#projects">Services</a></li>
                    <li><a href="#projects">Products</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h3>Contact Us</h3>
                <p>Email: test</p>
                <p>Phone: +48 111 222 333</p>
                <p>Address: Your Address 123 street</p>
            </div>
        </div>
        <hr class="solid">
        <div class="bottom-bar">
            <p>© 2024 Tech Diversity Hub. All rights reserved</p>
        </div>
    </section>
</body>

