.navbar {
    margin: 10px;
    padding: 0.6rem;
}

.navbar-logo {
    max-height: 60px;
}

.navbar-button {
    background-color: #D1AD33;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    padding: 14px 42px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar-button:hover {
    background-color: #ecd075;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #4e4e4cce;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color:#D1AD33;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #ecd075;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 75%;
    visibility: visible;
}
