<section class="quotes-section">
    <div class="container">
        <div class="quotes-title ">
            <h1>Manifest DEI team: </h1>
            <div class="title-line"></div>
        </div>
        <div class="quotes-wrapper d-flex align-items-center align-items-center flex-column">
            <li>
                <a class="quotes-link" href="#projects">Tło ulega ciągłej zmianie</a> - wierzymy, że organizacje będące pod ciągłym wpływem zmian są w stanie nie tylko zwiększyć swoja odpornosc czy dostosowywać się do otoczenia, ale i zwiększyć innowacje i konkurencyjność  poprzez krzewienie wartości humanizmu  w kulturze organizacyjnej, tj tolerancja czy zrozumienie jednostki, aby wyciągać z niej co najlepsze, i przy tym mieć pozytywny wpływ na życie społeczeństwa.
            </li>
            <li>            
                <a class="quotes-link" href="#">Świat wokół ciebie jest twoim rozszerzonym ja"</a> - M. Gandhi - do pełnej otwartości powinniśmy wdrażać w życie ideę wzajemnego włączania i wyrównywania szans poprzez obopólne zrozumienie i empatię.
            </li>
            <li>
                <a class="quotes-link" href="#partnership">Czuj się częścią DEI Team:</a> zespół składający się z jego różnych członków spośród których każdy ma swoje miejsce i gdyby któregoś zabrakło, zespół byłby niekompletny.
            </li>
        </div>
    </div>
</section>