.mission-section {
    max-width: 99%;
    height: 125vh;
}

.left-half {
    padding-top: 100px;
}

.img-fluid {
    background-size: cover;
    background-attachment: fixed;
}
.settings, .bell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1AD33;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.icons-wrapper {
    margin-top: 20px;
    gap: 250px;
}

@media (max-width: 1376px) {
    .icons-wrapper {
        gap: 125px;
    }
}