<section class="mission-section">
    <div class="container d-flex align-items-start justify-content-center fs-1 text-black flex-column">
        <h5> O nas </h5>
        <h1>Dlaczego to robimy?</h1>
    </div>
    <div class="row">
        <div class="left-half col-md-6">
            <!-- Left half content -->
        </div>
        <div class="right-half col-md-6">
            <!-- Right half content -->
            <div class="mission-cards-wrapper d-flex flex-column">
                <div class="card text-bg-dark me-2">
                    <img src="../../../assets/mission-1.png" class="card-img" alt="...">
                </div>
                <div class="mission-cards-row d-flex">
                    <div class="card text-bg-dark me-2">
                        <img src="../../../assets/mission-2.png" class="card-img" alt="...">
                    </div>
                    <div class="card text-bg-dark">
                        <img src="/../../assets/mission-3.png" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
