.mission-section {
    max-width: 99%;
}

.left-half {
    padding-top: 100px;
}


.img-fluid {
    background-size: cover;
    background-attachment: fixed;
}
.settings, .bell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1AD33;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.icons-wrapper {
    margin-top: 20px;
    gap: 50px;
}

.wrapper {
    width: 90%;
    gap: 30px;
    margin-top: 50px;
}

/* ACCORDIONS */
.mission-section {
    max-width: 99%;
}

.left-half {
    padding-top: 100px;
}


.img-fluid {
    background-size: cover;
    background-attachment: fixed;
}
.settings, .bell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1AD33;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.icons-wrapper {
    margin-top: 20px;
    gap: 50px;
}

.wrapper {
    width: 90%;
    gap: 30px;
    margin-top: 50px;
}

/* ACCORDIONS */
.custom-accordion-button {
    width: 90%;
    background-color: transparent;
    padding: 30px;
    transition: color 0.3s; 
    outline: none;
    box-shadow: none;
    color: black;
    opacity: 0.5;
    border: none; /* Remove any border */
}

.custom-accordion-body {
    width: 100%;/* Set fixed width for the body */
    font-size: 18px;
}



/* Highlight accordion button on hover */
.custom-accordion-button:hover {
    color: #FFD700; /* Change to desired highlight color */
    opacity: 1;
}


/* Hide the expansion icon */
.accordion-button::after {
    display: none;
}

.accordion-item {
    width: 100%;
}

.accordion-button {
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    gap: 30px;
    outline: none;
    border-bottom: 3px solid #bbb; /* Add border bottom */
}

.accordion-button[aria-expanded="true"] {
    width: 100%;
}

.accordion-header {
    width: 100%;
}

.accordion {
    width: 100%;
    background-color: transparent; /* Set background to transparent */
    border: none; /* Remove any border */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

hr.solid {
    border-top: 3px solid #bbb;
  }
  

.custom-accordion-body {
    width: 100%;/* Set fixed width for the body */
    font-size: 18px;
}



/* Highlight accordion button on hover */
.custom-accordion-button:hover {
    color: #FFD700; /* Change to desired highlight color */
    opacity: 1;
}


/* Hide the expansion icon */
.accordion-button::after {
    display: none;
}

.accordion-item {
    width: 100%;
}

.accordion-button {
    width: 100%; /* Initially takes up entire available width */
    text-align: left; /* Align text to the left */
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    gap: 30px;
    outline: none;
}

.accordion-button[aria-expanded="true"] {
    width: 100%;
}

.accordion-header {
    width: 100%;
}

.accordion {
    width: 100%;
    background-color: transparent; /* Set background to transparent */
    border: none; /* Remove any border */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

hr.solid {
    border-top: 3px solid #bbb;
  }
  