<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<section class="hero-section">
  <!-- <div class="container d-flex align-items-start justify-content-center fs-1 text-white flex-column"> -->
      <div class="wrapper d-flex">
        <div class="left-half w-1/2 d-flex align-items-center justify-content-center fs-1 text-white">
          <div class="lh-content d-flex flex-column align-items-center justify-content-center">
           <p> Kim jestesmy?</p>
           <p> o Fundacji</p>
          </div> 
        </div>
        <div class="right-half w-1/2 flex flex-col">
          <div class="top-half d-flex align-items-center justify-content-center fs-1 text-white">
            <p>Dołącz</p>
          </div>
          <div class="bottom-half d-flex align-items-center justify-content-center fs-1 text-white">
              <p>Oferta</p>
          </div>
        </div>
      </div>
    <!-- <h1>Tech Diversity Hub:</h1>
    <h1> Łączymy Różnorodność,</h1>
    <h1>Kreujemy Innowacje!</h1>
    <div style="margin-top: 40px;"></div>
    <h3>Fundacja, która łączy różnorodną</h3>
    <h3>społeczność w jednym miejscu</h3>
    <h3>abyśmy mogli wspólnie tworzyć</h3>
    <h3>przyszłość technologii.</h3>
    <h3>Wierzymy, że różnorodność jest kluczem </h3>
    <h3>do prawdziwej innowacyjności.</h3> -->
  <!-- </div> -->
  <div class="fixed-btn">
    <div class="button"><p>Kontakt</p></div>
  </div>
</section>