.hero-section {
    background: url("../../../assets/hero-background3.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.3);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100lvh;
    width: 100lvw;
    z-index: 1;
    position: relative;
}


/* .fixed-btn {
    background-color: #D1AD33;
    position: fixed;
    z-index: 1;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    padding: 14px 42px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 30px;
    margin-left: 30px;
} */

.fixed-btn{
    position: fixed;
    bottom: 3%;
    right: 2%;
    background:  grey;
    z-index: 3;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 4px  grey;
    cursor: pointer;
  }
  
  .fixed-btn p{
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    color:  #D1AD33;
  }
  
  .fixed-btn:active{
    box-shadow: 0  0;
  }