<section class="hero-section">
  <div class="container d-flex align-items-start justify-content-center fs-1 text-white flex-column">
    <h1>Tech Diversity Hub:</h1>
    <h1> Łączymy Różnorodność,</h1>
    <h1>Kreujemy Innowacje!</h1>
    <div style="margin-top: 40px;"></div>
    <h3>Fundacja, która łączy różnorodną</h3>
    <h3>społeczność w jednym miejscu</h3>
    <h3>abyśmy mogli wspólnie tworzyć</h3>
    <h3>przyszłość technologii.</h3>
    <h3>Wierzymy, że różnorodność jest kluczem </h3>
    <h3>do prawdziwej innowacyjności.</h3>
  </div>
  <div class="fixed-btn">
    <div class="button"><p>Kontakt</p></div>
  </div>
</section>