.projects2-section {
    position: relative;
    width: 100%;
    height: 90lvh;
    background-color: rgb(131, 129, 255);
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
    clip-path: polygon(20% 0%, 75% 0%, 100% 0, 100% 100%, 0 100%, 0 32%);
}
.bottom-figure {
    position: absolute;
    background-color: blue;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 999;
    width: 20%;
    height: 55%;
    top: -20%;
    left: 0;
}

.top-figure {
    position: absolute;
    background: linear-gradient(90deg, rgb(202, 80, 233) 0 20%, #25d17b 0 80%);
    clip-path: polygon(20% 66%, 100% 66%, 100% 100%, 0% 100%);
    z-index: 999;
    width: 75%;
    height: 60%;
    bottom: 0;
    right: 0;
}
.below-link {
    text-decoration: none;
    font-family: sans-serif;
}

.title {
    margin-right: 50px;
}

.card-text {
    font-family: sans-serif;
    font-size: 20px;
}

.carousel-indicators {
    position: unset;
}

@media (max-width: 736px) {
    .card-text {
        font-size: 14px;
    }
    .title {
        margin-right: 20px;
        font-size: 16px;
    }
}

