.projects2-section {
    position: relative;
    width: 100%;
    height: 90lvh;
    background-color: rgb(86, 84, 243);
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.below-link {
    text-decoration: none;
    font-family: sans-serif;
}

.title {
    margin-right: 50px;
}

.card-text {
    font-family: sans-serif;
    font-size: 20px;
}

.carousel-control-prev {
    position: unset;
}

.carousel-control-next {
    position: unset;
}


.carousel-indicators {
    position: unset;
}

@media (max-width: 736px) {
    .card-text {
        font-size: 14px;
    }
    .title {
        margin-right: 20px;
        font-size: 16px;
    }
}

