<section id="projects" class="projects2-section d-flex align-items-center justify-content-start">
    <div class="top-figure"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="custom-card d-flex align-items-center justify-content-start">
                    <h1><span class="title text-white">edukacja</span></h1>
                    <div class="card-text">
                        <p>Fundacja dąży do promowania edukacji w zakresie równości, różnorodności i inkluzywności w środowisku It
                            poprzez organizację szkoleń, warsztatów i dostarczanie materiałów edukacyjnych, które pomagają zwiększyć świadomość
                            i zrozumienie tych zagadnień w społeczności IT.
                        </p>
                        <a class="below-link text-white" href="#">dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="custom-card d-flex align-items-center justify-content-start">
                    <h1><span class="title text-white">równość zawodowa</span></h1>
                    <div class="card-text">
                        <p>Fundacja stawia sobie za cel eliminowanie wszelkich form dyskryminacji i nierówności w miejscu pracy. 
                            Dąży do stworzenia środowiska, w którym wszyscy pracownicy mają równe szanse na awans i rozwijanie swoich karier niezależnie od swojej tożsamości czy przynależności do różnych grup społecznych.
                        </p>
                        <a class="below-link text-white" href="#">dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="custom-card d-flex align-items-center justify-content-start">
                    <h1><span class="title text-white">różnorodność</span></h1>
                    <div class="card-text">
                        <p>Fundacja promuje różnorodność, zachęcając organizacje do reprezentowania różnych grup społecznych w swoich zespołach.

                            Dąży do stworzenia środowiska, w którym różnorodność jest doceniana i wykorzystywana jako źródło innowacji i konkurencyjności
                        </p>
                        <a class="below-link text-white" href="#">dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="custom-card d-flex align-items-center justify-content-start">
                    <h1><span class="title text-white">równe szanse</span></h1>
                    <div class="card-text">
                        <p>Wyrównywanie szans na rynku pracy: 
                            Fundacja pracuje nad eliminowaniem barier, które utrudniają dostęp do rynku pracy osobom z grup marginalizowanych. 
                            Dąży do zapewnienia, że każdy, niezależnie od swojego pochodzenia czy tożsamości, ma równe szanse na znalezienie pracy i rozwijanie się zawodowo w wybranej branży.                            
                        </p>
                        <a class="below-link text-white" href="#">dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="custom-card d-flex align-items-center justify-content-start">
                    <h1><span class="title text-white">rozwój zawodowy</span></h1>
                    <div class="card-text">
                        <p>Fundacja wspiera rozwój zawodowy osób z grup marginalizowanych w różnych sektorach poprzez:
                            organizację programów mentorskich, 
                            coachingowych oraz
                            udostępnianie zasobów edukacyjnych.
                            
                            Stawia sobie za cel pomaganie tym osobom w osiąganiu swoich zawodowych celów i rozwijaniu swojej kariery.                            
                        </p>
                        <a class="below-link text-white" href="#">dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button> -->
    </div>
    <div class="bottom-figure"></div>
</section>

