.socials-section {
    margin-top: -10px;
    background: url("../../../assets/kobitki.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}


.container {
    padding-top: 60px;
    font-size: clamp(50px, 8vw, 80px);
    text-align: center;
    justify-content: center;
}


.btn-socials {
    background-color: #D1AD33;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    padding: 21px 42px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn-socials:hover {
    background-color: #ecd075;
}

.btn-wrapper {
    margin-top: 50px;
}

.icons-wrapper {
    gap: 44px;
    margin-top: 40px;
}

.icon:hover {
    fill: rgba(199, 143, 24, 0)
}

ul {
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
ul li {
    list-style: none;
}
  
ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
  
ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
  
ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
  
ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
  
ul li a:hover:before {
    top: 0;
}
  
ul li:nth-child(1) a:before{
    background: #3b5999;
}
  
ul li:nth-child(2) a:before{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
  
ul li:nth-child(3) a:before {
    background: #0077b5;
}