.projects-section {
    background-color: grey;
    background: url("../../../assets/mission-1.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.projects {
    font-size: 74px;
    margin: 40px;
}

.below-projects {
    font-size: 24px;
    color:  #D1AD33;
}


.container {
    padding-top: 10px;
    font-size: clamp(50px, 8vw, 80px);
    text-align: center;
    justify-content: center;
}


.btn-projects {
    background-color: #D1AD33;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    padding: 21px 42px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn-projects:hover {
    background-color: #ecd075;
}

.card-title {
    padding: 20px;
    font-size: 44px;
}

.btn-wrapper {
    margin-top: 100px;
}