<section class="projects-section position-relative">
    <div class="container d-flex align-items-center justify-content-center fs-3 text-black flex-column position-absolute top-0 start-50 translate-middle-x" style="z-index: 1; ">
        <h1><span class="projects">Projekty</span></h1>
        <h5><span class="below-projects">Co robimy?</span></h5>
    </div>
    <div class="card position-absolute top-50 start-50 translate-middle text-center mb-3" style="width: 100%; max-width: 54rem; height: 32rem; z-index: 1; border-radius: 50px; margin-top: 30px;">
        <div class="card-body">
          <h2 class="card-title">- Programy mentorskie </h2>
          <h2 class="card-title">- Raport </h2>
          <h2 class="card-title">- Eventy </h2>
          <div class="btn-wrapper">
            <a href="#" class="btn-projects">Go somewhere</a>
          </div>
        </div>
    </div>
</section>
