<section class="projects-section position-relative">
    <div class="container d-flex align-items-center justify-content-center fs-3 text-black flex-column">
        <h1><span class="projects">Projekty</span></h1>
        <h5><span class="below-projects">Co robimy?</span></h5>
    </div>
    <div class="main-picture d-flex align-items-center justify-content-center">
        <img src="../../../assets/mission-1.png" class="img-fluid" alt="...">
    </div>
    <div class="card position-absolute top-50 start-50 translate-middle text-center mb-3" style="width: 100%; max-width: 40rem; height: 22rem; z-index: 1;">
        <div class="card-body">
          <h2 class="card-title">- Programy mentorskie </h2>
          <h2 class="card-title">- Raport </h2>
          <h2 class="card-title">- Eventy </h2>
          <div class="btn-wrapper">
            <a href="#" class="btn-projects">Go somewhere</a>
          </div>
        </div>
    </div>
</section>
