.center-section {
    background: grey;
    width: 100%;
    height: 100vh;
}

.center {
    font-size: 44px;
    margin: 40px;
}

.center-cards-wrapper {
    gap: 8px;
}

.container {
    padding-top: 60px;
    font-size: clamp(50px, 8vw, 80px);
    text-align: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 28rem;
    height: 38rem;
    margin: 10px;
}

.card-img {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.card h1 {
    margin-top: 50%;
    font-size: 44px;
}

.card p {
    font-size: 16px;
}

@media (min-width: 1506px) {
    .center-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1076px) {
    .card-img-overlay h1 {
        font-size: 24px;
    }
    .card-img-overlay p {
        font-size: 16px;
    }
    .center-cards-wrapper {
        gap: 2px;
    }
}


@media (max-width: 846px) {
    .card-img-overlay h1 {
        font-size: 20px;
    }
    .card-img-overlay p {
        font-size: 8px;
    }
    .center-cards-wrapper {
        gap: 2px;
    }
    .card {
        width: 100%;
        max-width: 28rem;
        height: 30rem;
        margin: 10px;
    }
}