.center-section {
    background: grey;
    width: 100%;
    height: 100%;
}

.center {
    font-size: 44px;
    margin: 40px;
}

.center-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.container {
    padding-top: 60px;
    font-size: clamp(50px, 8vw, 80px);
    text-align: center;
    justify-content: center;
}

.card {
    flex: 1 1 auto; /* Elastyczność karty */
    max-width: 28rem;
    height: 38rem;
    margin: 10px;
}

.card-img {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.card h1 {
    margin-top: 50%;
    font-size: 44px;
}

.card p {
    font-size: 16px;
}

@media (max-width: 1386px) {
    .card {
        flex-basis: calc(50% - 20px); /* Dwie kolumny na ekranach o szerokości do 1386px */
    }
}
