<section class="center-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-grey flex-column">
        <h1><span class="center">Centrum różnorodności technologicznej</span></h1>
        <h5><span>Jakis tekst ktory jest nieczytelny </span></h5>
    </div>
    <div class="center-cards-wrapper d-flex align-items-center justify-content-center flex-grow-1">
        <div class="card text-bg-dark">
            <img src="./././assets/mission1.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1>Misja</h1>
                <p class="card-text">Misją fundacji Tech Diversity Hub jest budowanie inkluzywnej społeczności profesjonalistów technologicznych, którzy dzielą się swoją wiedzą, doświadczeniem i wsparciem w celu promowania różnorodności i równości w branży technologicznej. Dążymy do stworzenia otwartej przestrzeni, w której każdy członek ma możliwość rozwijania swoich umiejętności, nawiązywania kontaktów oraz wspierania i inspirowania innych.</p>
            </div>
        </div>
        <div class="card" style="background-color: #D1AD33;;">
            <div class="card-img-overlay">
                <h1>Wizja</h1>
                <p class="card-text">Naszą wizją jest stworzenie dynamicznej i zróżnicowanej społeczności profesjonalistów technologicznych, która odzwierciedla różnorodność naszego świata. Chcemy, aby Tech Diversity Hub stał się globalnym centrum wymiany wiedzy, mentorskich programów i inspiracji, przyczyniając się do eliminacji barier i nierówności w sektorze technologicznym. Dążymy do stworzenia środowiska, w którym każdy członek ma szansę.</p>
            </div>
        </div>
        <div class="card text-bg-dark">
            <img src="./././assets/value1.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1> Wartości </h1>
                <p class="card-text">Równość i inkluzja: Wierzymy, że różnorodność jest naszą siłą, dlatego promujemy równość szans i inkluzję we wszystkich aspektach naszej działalności.</p>
                <p class="card-text">Współpraca i wzajemne wsparcie: Działamy jako zespół, wspierając i inspirując się nawzajem, aby osiągać wspólne cele i sukcesy.</p>
                <p class="card-text">Otwartość i uczciwość: Zachęcamy do otwartego dialogu, uczciwości i transparentności w naszych działaniach, budując zaufanie i uczciwe relacje z naszymi członkami oraz partnerami.</p>
            </div>
        </div>
    </div>
</section>