<section class="center-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-grey flex-column">
        <h1><span class="center">Centrum różnorodności technologicznej</span></h1>
        <h5><span>Jakis tekst ktory jest nieczytelny </span></h5>
    </div>
    <div class="center-cards-wrapper d-flex align-items-center justify-content-center flex-grow-1">
        <div class="card text-bg-dark">
            <img src="./././assets/mission1.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1>Misja</h1>
                <p class="card-text">Misją fundacji Tech Diversity Hub jest budowanie inkluzywnej społeczności profesjonalistów technologicznych, którzy dzielą się swoją wiedzą, doświadczeniem i wsparciem w celu promowania różnorodności i równości w branży technologicznej. Dążymy do stworzenia otwartej przestrzeni, w której każdy członek ma możliwość rozwijania swoich umiejętności, nawiązywania kontaktów oraz wspierania i inspirowania innych.</p>
            </div>
        </div>
        <div class="card" style="background-color: #D1AD33;;">
            <div class="card-img-overlay">
                <div class="quotes-title ">
                    <h1>Manifest DEI team: </h1>
                    <div class="title-line"></div>
                </div>
                <div class="quotes-wrapper d-flex align-items-center align-items-center flex-column">
                    <li>
                        <a class="quotes-link" href="#projects">Tło ulega ciągłej zmianie</a> - wierzymy, że organizacje będące pod ciągłym wpływem zmian są w stanie nie tylko zwiększyć swoja odpornosc czy dostosowywać się do otoczenia, ale i zwiększyć innowacje i konkurencyjność  poprzez krzewienie wartości humanizmu  w kulturze organizacyjnej, tj tolerancja czy zrozumienie jednostki, aby wyciągać z niej co najlepsze, i przy tym mieć pozytywny wpływ na życie społeczeństwa.
                    </li>
                    <li>            
                        <a class="quotes-link" href="#">Świat wokół ciebie jest twoim rozszerzonym ja"</a> - M. Gandhi - do pełnej otwartości powinniśmy wdrażać w życie ideę wzajemnego włączania i wyrównywania szans poprzez obopólne zrozumienie i empatię.
                    </li>
                    <li>
                        <a class="quotes-link" href="#partnership">Czuj się częścią DEI Team:</a> zespół składający się z jego różnych członków spośród których każdy ma swoje miejsce i gdyby któregoś zabrakło, zespół byłby niekompletny.
                    </li>
                </div>
            </div>
        </div>
        <div class="card text-bg-dark">
            <img src="./././assets/value1.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1> Wartości </h1>
                <p class="card-text">Równość i inkluzja: Wierzymy, że różnorodność jest naszą siłą, dlatego promujemy równość szans i inkluzję we wszystkich aspektach naszej działalności.</p>
                <p class="card-text">Współpraca i wzajemne wsparcie: Działamy jako zespół, wspierając i inspirując się nawzajem, aby osiągać wspólne cele i sukcesy.</p>
                <p class="card-text">Otwartość i uczciwość: Zachęcamy do otwartego dialogu, uczciwości i transparentności w naszych działaniach, budując zaufanie i uczciwe relacje z naszymi członkami oraz partnerami.</p>
            </div>
        </div>
    </div>
</section>