<section class="mission3-section d-flex align-items-center justify-content-center">
    <div class="figure1"></div>
    <div class="figure2"></div>
    <div class="main-text2 d-flex align-items-center justify-content-start flex-column">
        <h1>Łączymy różnorodność, kreujemy innowacje.</h1>
        <p>Wierzymy, że różnorodność jest kluczem do prawdziwej innowacyjności, dlatego łączymy zróżnicowaną społeczność abyśmy mogli wspólnie tworzyć przyszłość technologii.</p>
        <a class="below-link-join" href="#">dołącz</a>
    </div>
</section>