.mission3-section {
    position: relative;
    width: 100%;
    height: 100lvh;
    background-color: white;
}

.main-text2 h1 {
    z-index: 999;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 800;
    width: 20%;
    color: white;
}

.main-text2 p {
    z-index: 999;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    width: 20%;
    margin-top: 3%;
}

.main-text2 a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-left: -15%;
    z-index: 999;
}

.figure1 {
    position: absolute;
    background: linear-gradient(90deg, rgb(202, 80, 233) 0 33%, blue 33% 66% ,#25d17b 66% 100%);
    z-index: 2;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
}

.figure2 {
    position: absolute;
    background: linear-gradient(90deg, #D1AD33 0 33%, grey 33% 66% ,#19801e 66% 100%);
    z-index: 3;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1036px) {
    .main-text2 h1{
        font-size: 44px;
    }
    .main-text2 p {
        font-size: 16px;
    }
    .main-text2 a {
        font-size: 16px;
    }
}

@media (max-width: 536px) {
    .main-text2 h1{
        font-size: 26px;
    }
    .main-text2 p {
        font-size: 14px;
    }
    .main-text2 a {
        font-size: 14px;
    }
}