<section class="partnership-section">
    <div class="container">
        <div class="row d-flex ">
            <div class="left-half col-md-6">
                <div class="container d-flex align-items-center justify-content-center fs-1 text-black flex-column">
                    <h1>Partnerstwo</h1>
                    <div class="btn-wrapper">
                        <a href="#" class="btn-partnership">Dołacz do społeczności</a>
                      </div>
                </div>
            </div>
            <div class="right-half">
                <!-- Right half content -->
            </div>
        </div>
    </div>
</section>