.partnership-section {
    max-width: 99%;
    height: 70vh;
}

.left-half {
    padding-top: 100px;
}

.right-half {
    background-color: #D1AD33;
}

.partnership-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-partnership {
    background-color: #D1AD33;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    padding: 22px 44px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn-partnership:hover {
    background-color: #ecd075;
}