.partnership-section {
    max-width: 100%;
    height: 100vh;
}

.left-half {
    padding-top: 100px;
}

.right-half {
    background-color: #D1AD33;
}

.btn-partnership {
    background-color: #D1AD33;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    padding: 21px 42px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn-partnership:hover {
    background-color: #ecd075;
}